/* container on navtab */
.container{
 
/* flex-flow: row;
  width: 25%;
  align-items: center;
  justify-content: space-evenly; */
 display: grid;
 grid-auto-flow: row;
}
/* pg options */
.navtab{
   flex:  auto ;
  display: inline-block; 
  align-self: center;
  padding: 1%;
  margin: 5%;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
