
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    border-radius: 2rem;
    border-width: 0.2rem;
    margin: 0.2rem;
    background-color: cornsilk;
    justify-content: flex-start;
}

@media( max-width:768px){
    .card-body{
        flex-direction: row;
            
    }
}
@media( max-width:375px){
    .card-body{
        flex-direction: column;
            
    }
}

.avatar-img{
    border-radius: 50%;
    width: 20rem;
    height:20rem;
    background-size: cover;  
    margin: auto;
    
}