.language-detail-box{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width:100%;
    border-top: 0.2rem solid black;
}

.language-details-list{
    list-style-type: none;
    padding: 0.0rem;
}

.row-language-details{
    width: 50%;
    justify-content: center;
}

.first-row{
    display: flex;
    flex-direction: row;
}

.dialect-dropdown{
    border-top: 0.2rem solid black;
    display: flex;
    
}

.dialects-arrow-down{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 0 0 0 1.5em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dialects-arrow-container{
    display: inline;
    
    margin-right: 1rem;
  }

  .click-container-dialects{
      display: flex;
  }
