.language-box{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-radius: 2rem;
    border-width: 0.2rem;
    margin: 0.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 0 0.1rem 0;
    flex-shrink: 5;
    }


    .language-title{
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        height: 100%;
        padding: 0;
        list-style-type: none;
    }
      
      .language-detail-arrow-down{
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px;
        margin: 0 0 0 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      
      .arrow-container{
        display: inline;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
.click-container{
  display: flex;
  justify-content: center;
}

.add-language-click-container{
  width: 100%;
  border-top: 0.2rem solid black;
 
}

.add-language{
  padding-left: 0.2em;
  margin: 0;
}