
.skill-list{
padding-left: 0.0rem;
display: flex;
flex-direction: column;
border-style: solid;
border-color: black;
border-radius: 2rem;
border-width: 0.2rem;
margin: 3rem 3rem 3rem 0rem;
background-color: cornsilk;
justify-content: start;
width: min-content;
}

.skill-arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.skill-arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}


.skill-box{
display: flex;
border-style: solid;
border-color: black;
border-radius: 2rem;
border-width: 0.2rem;
margin-right: 0.2rem;
margin-left: 0.2rem;
margin-bottom: 0.2rem;
justify-content: center;
align-items: center;
text-align: center;
padding: 0.1rem;
flex-shrink: 5;
}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: cornsilk;
    border-radius: 50%;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
    display: flex;
    margin: 1rem;
    margin-bottom: 0;
    margin-top: 0;
  }